<div *ngIf="!editProfil">
  <h4>{{tableName}}</h4>
  <button *ngIf="showAll" (click)="switchView()">Show unapproved Users</button>
  <button *ngIf="!showAll" (click)="switchView()">Show all Users</button>
  <br>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th *ngIf="this.user.isAdmin()">change Password</th>
      <th>role</th>
      <th>change Profile</th>
      <th>approval status</th>
    </tr>
    <tr *ngFor="let currentUser of unapprovedUsers">
      <td><a (click)="showCompanyProfile(currentUser.id)">{{currentUser.name}}</a></td>
      <td>{{currentUser.email}}</td>
      <td *ngIf="this.user.isAdmin()"><a (click)="changePassword(currentUser.id)">change Password</a></td>
      <td>
        <select [(ngModel)]="currentUser.role" (change)="saveUser(currentUser)">
          <option value="company">company</option>
          <option value="moderator">moderator</option>
          <option *ngIf="this.user.isAdmin()" value="admin">admin</option>
        </select>
      </td>
      <td><a (click)="editProfile(currentUser)">change Profile</a></td> <!-- add anchor to correct link-->
      <td *ngIf="!showAll"><a (click)="approve(currentUser)">approve user</a></td>
      <td *ngIf="showAll">
        <select [(ngModel)]="currentUser.approved" (change)="saveUser(currentUser)">
          <option value="false">false</option>
          <option value="true">true</option>
        </select>
      </td>
    </tr>
  </table>
</div>
<button *ngIf="showCompany" (click)="showCompanyProfile(companyId)">hide company profile</button>
<app-profil-public *ngIf="showCompany" [companyId]="companyId"></app-profil-public>
<div *ngIf="editProfil">
  <button (click)="editProfile(editUser)">Zurück zur Liste</button>
  <app-profil-edit [userId]="this.editUser.id"></app-profil-edit>
</div>
