<!-- jobs-->
<div class="inner">
<form>
  <div class="field">
    <label for="search">Suche</label>
    <input type="text" name="search" [(ngModel)]="searchText" id="search"/>
  </div>
  <ul class="actions">
    <li><input type="submit" (click)="onSearchJob()" value="Suchen"/></li>
  </ul>
</form>
</div>
<section id="three">

  <div class="inner" *ngFor="let current_jobs of jobs_jobsArr">
    <app-job style="padding: 2em; width: 150%"  [job]="currentJob" *ngFor="let currentJob of current_jobs"></app-job>
  </div>
</section>

