<!--
This is the home page
it features a banner and three types of articles
please use routerlink in a anchor tag instead of href, so the website automatically opens the correct component

-->

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Jobly: <span>Die Job-Platform für Studenten</span></h1>
    <ul class="actions">
      <li><a routerLink="/jobs" class="button alt">Suche Jobs</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one">
  <div class="inner">
    <header>
      <h2>{{texts[0].title}}</h2>
    </header>
    <p>
      {{texts[0].content}}
    </p>
    <ul class="actions">
      <li><a routerLink="/" class="button alt">Mehr</a></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <h3>{{texts[1].title}}</h3>
        </header>
        <div class="image fit">
          <img src="/assets/images/pic01.jpg" height="220px" width="auto" alt="" />
        </div>
        <p> {{texts[1].content}}</p>
        <ul class="actions">
          <li><a routerLink="/jobs" class="button alt">Mehr</a></li>
        </ul>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <header>
          <h3>{{texts[2].title}}</h3>
        </header>
        <div class="image fit">
          <img src="/assets/images/pic02.jpg" height="220px" alt="" />
        </div>
        <p> {{texts[2].content}}</p>
        <ul class="actions">
          <li><a routerLink="/login" class="button alt">Mehr</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>

<!-- Three -->

<section style="margin-bottom: -150px;margin-top: 10px">
  <div class="inner">
    <header>
      <h2>neueste Jobs</h2>
    </header>
  </div>
</section>


<section id="three">

  <div class="inner">
    <app-job style="padding: 2em; width: 150%" [linkText]="'Mehr sehen'" [link]="'/job'" [enableLink]="true" [job]="currentJob" *ngFor="let currentJob of jobs"></app-job>
  </div>
</section>
