<!--
This is the home page
it features a banner and three types of articles
please use routerlink in a anchor tag instead of href, so the website automatically opens the correct component

-->

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Jobly: <span>Die Job-Platform für Studenten</span></h1>
    <ul *ngIf="!editable" class="actions">
      <li><a routerLink="/jobs" class="button alt">Suche Jobs</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one">
  <div class="inner">
    <header>
      <input style=" text-transform: uppercase" type="text" *ngIf="editable" [(ngModel)]="texts[0].title" (ngModelChange)="onSave(texts[0])">
      <h2 *ngIf="!editable">{{texts[0].title}}</h2>
    </header>
    <textarea style="height: 15em;" *ngIf="editable" [(ngModel)]="texts[0].content" id="content" (ngModelChange)="onSave(texts[0])" ></textarea>
    <p *ngIf="!editable" [innerHTML]="texts[0].content">
    </p>
    <ul *ngIf="!editable" class="actions">
      <li><a routerLink="/über_uns" class="button alt">Mehr</a></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <input style="background-color: #ffffff; text-transform: uppercase" type="text" *ngIf="editable" [(ngModel)]="texts[1].title" (ngModelChange)="onSave(texts[1])">
          <h3 *ngIf="!editable">{{texts[1].title}}</h3>
        </header>
        <div class="image fit">
          <img src="/assets/images/pic01.jpg" height="220px" width="auto" alt="" />
        </div>
        <label *ngIf="editable" style="float: right">{{texts[1].content.length}}/250 Zeichen</label>
        <textarea style="background-color: #ffffff; height: 12em;" maxlength="250" *ngIf="editable" [(ngModel)]="texts[1].content" id="content1" (ngModelChange)="onSave(texts[1])" ></textarea>
        <p *ngIf="!editable" [innerHTML]="texts[1].content"></p>
        <ul *ngIf="!editable" class="actions">
          <li><a routerLink="/jobs" class="button alt">Mehr</a></li>
        </ul>
      </div>
    </article>

    <article class="alt">
      <div class="content">
        <header>
          <input style="background-color: #ffffff; text-transform: uppercase" type="text" *ngIf="editable" [(ngModel)]="texts[2].title" (ngModelChange)="onSave(texts[2])">
          <h3 *ngIf="!editable">{{texts[2].title}}</h3>
        </header>
        <div class="image fit">
          <img src="/assets/images/pic02.jpg" height="220px" alt="" />
        </div>
        <label *ngIf="editable" style="float: right">{{texts[2].content.length}}/250 Zeichen</label>
        <textarea style="background-color: #ffffff; height: 12em;" maxlength="250" *ngIf="editable" [(ngModel)]="texts[2].content" id="content2" (ngModelChange)="onSave(texts[2])" ></textarea>
        <p *ngIf="!editable" [innerHTML]="texts[2].content"></p>
        <ul *ngIf="!editable" class="actions">
          <li><a routerLink="/profil" class="button alt">Mehr</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>

<!-- Three -->

<section style="margin-bottom: -150px;margin-top: 10px">
  <div class="inner">
    <header>
      <h2>neueste Jobs</h2>
    </header>
  </div>
</section>


<section id="three">

  <div class="inner">
    <app-job style="padding: 2em; width: 150%" [linkText]="'Mehr sehen'" [link]="'/job'" [enableLink]="true" [job]="currentJob" *ngFor="let currentJob of jobs"></app-job>
  </div>
</section>
