<!--
This is the home page
it features a banner and three types of articles
please use routerlink in a anchor tag instead of href, so the website automatically opens the correct component

-->

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>Jobly: <span>Die Job-Platform für Studenten</span></h1>
    <ul class="actions">
      <li><a routerLink="/jobs" class="button alt">Suche Jobs</a></li>
    </ul>
  </div>
</section>

<!-- One -->
<section id="one">
  <div class="inner">
    <header>
      <h2>Job-Suche</h2>
    </header>
    <p>Wir schalten Jobangebote von Unternehmungen auf...

      Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.</p>
    <ul class="actions">
      <li><a routerLink="/" class="button alt">Mehr</a></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <h3>Job suchen</h3>
        </header>
        <div class="image fit">
          <img src="images/pic01.jpg" alt="" />
        </div>
        <p>Suche mit uns den besten Job für dich.</p>
        <ul class="actions">
          <li><a routerLink="#" class="button alt">Mehr</a></li>
        </ul>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <header>
          <h3>Job aufgeben</h3>
        </header>
        <div class="image fit">
          <img src="images/pic02.jpg" alt="" />
        </div>
        <p>Geben Sie hier Ihre Jobs auf, um die besten Studenten zu finden, die Ihnen Kaffee bringen.</p>
        <ul class="actions">
          <li><a routerLink="#" class="button alt">Mehr</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>

<!-- Three -->
<section id="three" style="margin-bottom: -200px"><div class="inner">
  <header>
    <h2>neueste Jobs</h2>
  </header>
</div>    </section>
<section id="three">

  <div class="inner">
    <article>
      <div class="content">
        <span class="icon fa-laptop"></span>
        <header>
          <h3>ABB</h3>
        </header>
        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
        <ul class="actions">
          <li><a routerLink="#" class="button alt">Learn More</a></li>
        </ul>
      </div>
    </article>
    <article>
      <div class="content">
        <span class="icon fa-diamond"></span>
        <header>
          <h3>Swisscom</h3>
        </header>
        <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
        <ul class="actions">
          <li><a routerLink="#" class="button alt">Learn More</a></li>
        </ul>
      </div>
    </article>
    <article>
      <div class="content">
        <span class="icon fa-laptop"></span>
        <header>
          <h3>UniBe</h3>
        </header>
        <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
        <ul class="actions">
          <li><a routerLink="#" class="button alt">Learn More</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>
