
  <h4 *ngIf="!changePasswordAdmin">Passwort ändern</h4>
  <h4 *ngIf="changePasswordAdmin">{{passwordChangeUserName}}s Passwort ändern</h4>
  <!-- errors-->
  <b *ngIf="errorPasswordRepeat">Die neuen Passwörter stimmen nicht überein</b>
  <b *ngIf="errorPasswordWrong">Das alte Passwort stimmt nicht</b>
  <b *ngIf="errorPasswordSame">Das neue Passwort darf nicht dem Alten entsprechen</b>

  <!-- password change 'form'-->
  <label *ngIf="!changePasswordAdmin" for="old">altes Passwort</label>
  <input *ngIf="!changePasswordAdmin" type="password" id="old"[(ngModel)]="oldPassword" />
  <label for="new">neues Passwort</label>
  <input type="password" id="new" [(ngModel)]="newPassword"/>
  <label for="newRepeat">neues Passwort wiederholen</label>
  <input type="password" id="newRepeat" [(ngModel)]="newPasswordRepeat" />
  <input type="submit" (click)="savePassword(userId)" value="Speichern">
  <br><br>
