
.job {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.jobEdit{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1680px) {
  .job {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1280px) {
  .job {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 736px) {
  .job {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .job {
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 920px){

  .jobEdit{
    display: grid;
    grid-template-columns: 1fr;
  }

  .smallHidden{
    display: none;
  }

  .smallShow{
    display: inherit;
  }
}

@media screen and (min-width: 920px){

  .smallHidden{
    display: inherit;
  }

  .smallShow{
    display: none;
  }

}
