
<!--liste der jobs-->
<div>
  <h4>
    Liste der jobs
  </h4>
  <button *ngIf="!showEditJob && !userService.getUser().isCompany()" (click)="toggleDraft()">{{toggleDraftText}}</button>
  <section *ngIf="!showEditJob" id="three">
    <div class="job">
      <div class="inner" *ngFor="let currentJob of showJobs">
        <div>
          <p style="text-align: center;  margin: 0em 1em -6em 3em" *ngIf="currentJob.approved">{{jobViews[currentJob.id]}}</p>
          <p style="text-align: center;  margin: 0em 1em -6em 3em" *ngIf="!currentJob.approved"></p>
          <app-job style="padding: 2em; width: 150%; height: 30em" [enableLink]="false" (clicked)="clicked($event)" [linkText]="'Ändern'"  [job]="currentJob"></app-job>
        </div>
      </div>
    </div>
  </section>
  <div *ngIf="showEditJob">
    <button (click)="showList()">Zurück</button>
    <br>
    <div *ngIf="editJob.oldJobId !== -1">
      <h2 class="smallShow">Bei breiterem Bildschirm wird der alte Job auch angezeigt</h2>
    </div>
    <div *ngIf="editJob.oldJobId !== -1" class="jobEdit">
      <div>
        <h2 class="smallHidden">Neuer Job</h2>
        <app-job-edit  [job]="editJob" [editable]="true" [editAsModerator]="!user.isCompany()" (savedJob)="showList()" (destroy)="showList()"></app-job-edit>
      </div>
      <div class="smallHidden">
        <h2 class="smallHidden">originaler Job</h2>
        <app-job-edit class="smallHidden" style="margin-top: -7em" [editable]="false" [editAsModerator]="!user.isCompany()" [job]="oldJob"></app-job-edit>
      </div>
    </div>

    <div *ngIf="editJob.oldJobId === -1">
      <app-job-edit [job]="editJob" [editable]="true" [editAsModerator]="!user.isCompany()" (savedJob)="showList()" (destroy)="showList()"></app-job-edit>
    </div>

  </div>
</div>

