<!--titel-->
      <h1 *ngIf="showPassword && !showAdmin">
        Profil ~ Passwort
      </h1>
      <h1 *ngIf="!showPassword && !showAdmin">
        Profil ~ Jobs
      </h1>
      <h1 *ngIf="showAdmin && !showPassword">
        Profil ~ Benutzer
      </h1>


<!--menus-->
      <!-- admin or moderator menu control-->
        <div *ngIf="this.user.isAdmin() || this.user.isModerator()">
          <button style="background-color:#000000" *ngIf="!showPassword && !showAdmin" (click)="toggleMenu(false, false)">Zeige Jobs</button>
          <button *ngIf="!(!showPassword && !showAdmin)" (click)="toggleMenu(false, false)">Zeige Jobs</button>
          <button style="background-color:#000000" *ngIf="showPassword && !showAdmin" (click)="backToUserList()">Ändere das Passwort</button>
          <button *ngIf="!(showPassword && !showAdmin)" (click)="toggleMenu(false, true)">Ändere das Passwort</button>
          <button style="background-color:#000000" *ngIf="showAdmin && !showPassword" (click)="toggleMenu(false, false)">Zeige Benutzer</button>
          <button *ngIf="!(showAdmin && !showPassword)" (click)="toggleMenu(true, false)">Zeige Benutzer</button>
          <button *ngIf="!(showAdmin && showPassword)" (click)="toggleMenu(true, true)">Profil bearbeiten</button>
          <button style="background-color:#000000" *ngIf="showAdmin && showPassword" (click)="toggleMenu(false, false)">Profil bearbeiten</button>
        </div>
<label *ngIf="!user.approved">Dieses Benutzerkonto wurde noch nicht bestätigt.</label>
      <!-- company menu control-->
        <div *ngIf="!this.user.isAdmin() && !this.user.isModerator()">
          <button *ngIf="!showPassword" (click)="toggleShowPassword(true, false)">Ändere das Passwort</button>
          <button *ngIf="(showPassword || editProfil) && user.approved" (click)="toggleShowPassword(false, false)">Zeige Jobs</button>
          <button *ngIf="!editProfil" (click)="toggleShowPassword(false, true)">Profil bearbeiten</button>
        </div>
<br><br>


<!-- passwort ändern-->
      <div *ngIf="(showPassword && !showAdmin)">
        <app-profil-change-password [userId]="passwordChangeUserId" (changedPw)="backToUserList()"></app-profil-change-password>
        <br><br>
      </div>


<!-- liste der benutzer-->
      <div *ngIf="(this.user.isAdmin() || this.user.isModerator()) && showAdmin && !showPassword">
        <app-profil-list-user (changePw)="changePassword($event)"></app-profil-list-user>
      </div>


<!--job liste-->
      <!--menu neuen Job erstellen-->
        <div *ngIf="!showPassword && !showAdmin && !editProfil">
          <button *ngIf="!createNewJob" (click)="toggleShowCreateNewJob()">neuen Job erstellen</button>
          <button *ngIf="createNewJob" (click)="toggleShowCreateNewJob()">zurück</button>
          <br><br>
        </div>

      <!--job erstellen-->
        <div *ngIf="createNewJob">
          <app-profil-new-job (saved)="toggleShowCreateNewJob()"></app-profil-new-job>
        </div>

      <!--liste der jobs-->
        <div *ngIf="!showPassword && !showAdmin && !createNewJob && !editProfil">
          <app-profil-list-jobs></app-profil-list-jobs>
        </div>

<!--profil bearbeiten-->
<div *ngIf="editProfil || (showAdmin && showPassword)">
  <h4>{{user.name}}</h4>
  <blockquote>
    Email
    <input type="text" [(ngModel)]="user.email" value="{{user.email}}" (ngModelChange)="changeEmail(user)"/>
    <input *ngIf="!successfulChange" type="text" contenteditable="false" value="Änderungen nicht gespeichert, da Email schon vergeben"/>
  </blockquote>
  <blockquote>
    Benutzername
    <input type="text" [(ngModel)]="user.name" value="{{user.name}}" (ngModelChange)="saveUser(user)"/>
  </blockquote>
  <blockquote>
    Kontaktadresse
    <textarea maxlength="100" [(ngModel)]="user.address" value="{{user.address}}" (ngModelChange)="saveUser(user)"></textarea>
  </blockquote>
  <blockquote>
    Beschreibung
    <textarea [(ngModel)]="user.description" name="description_short" id="description_short" (ngModelChange)="saveUser(user)"></textarea>
  </blockquote>
</div>
