<!--header-->
<header id="header">
  <div class="inner">
    <a href="javascript:void(0)" *ngIf="loginStatus" class="greeting">Hall0 {{user.name}}</a>
    <a routerLink="/" class="logo">jobly</a>
    <nav id="nav">

      <a routerLink="/">Home</a>
      <a routerLink="/jobs">Jobs</a>
      <a routerLink="/über_uns">Über uns</a>
      <a routerLink="/login" *ngIf="!loginStatus">Login</a>
      <a routerLink="/profil" *ngIf="loginStatus">Profil</a>
      <a (click)="this.userService.logout()" *ngIf="loginStatus">Logout</a>

    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<a class="navPanelToggle" href="#navPanel"></a>
<div id="navPanel" style="-ms-overflow-style: -ms-autohiding-scrollbar;">
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" *ngIf="loginStatus">Hallo {{user.name}}</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" routerLink="/">Home</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" routerLink="/jobs">Jobs</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" routerLink="/über_uns">Über uns</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" routerLink="/login" *ngIf="!loginStatus">Login</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" routerLink="/profil" *ngIf="loginStatus">Profil</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" routerLink="/job/new" *ngIf="loginStatus">neuer Job</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" *ngIf="loginStatus"><button (click)="this.userService.logout()">Logout</button></a>
  <a class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" href="#navPanel"></a>
</div>

<!--routing and navigation-->
  <router-outlet></router-outlet>

<!-- footer-->
<section id="footer">
  <div class="inner">
    <header>
      <h2>Jobly</h2>
    </header>
    <div class="copyright">
      &copy; Jobly: <a href="https://jobly.ch/">Jobly.ch</a>
    </div>
  </div>
</section>


