<!--header-->
<header id="header">
  <div class="inner">
    <a href="javascript:void(0)" *ngIf="userService.getLoginStatus()" class="greeting">Hallo {{userService.getUser().name}}</a>
    <a routerLink="/" class="logo">jobly</a>
      <nav id="nav">
        <a routerLink="/">Home</a>
        <a routerLink="/jobs">Jobs</a>
        <a routerLink="/über_uns">Über uns</a>
        <a routerLink="/login" *ngIf="!userService.getLoginStatus()">Login</a>
        <a routerLink="/profil" *ngIf="userService.getLoginStatus()">Profil</a>
        <a (click)="logout()" *ngIf="userService.getLoginStatus()">Logout</a>
    </nav>
  </div>
</header>
<p (click)="toggleMenu()" class="navPanelToggle"><span class="fa fa-bars"></span></p>

<a class="navPanelToggle" (click)="toggleMenu()" ></a>

<div id="navPanel" style="-ms-overflow-style: -ms-autohiding-scrollbar;">
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" (click)="toggleMenu()" routerLink="/">Home</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" (click)="toggleMenu()" routerLink="/jobs">Jobs</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" (click)="toggleMenu()" routerLink="/über_uns">Über uns</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" (click)="toggleMenu()" routerLink="/login" *ngIf="!userService.getLoginStatus()">Login</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" (click)="toggleMenu()" routerLink="/profil" *ngIf="userService.getLoginStatus()">Profil</a>
  <a style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" (click)="toggleMenu();logout();" routerLink="/login" *ngIf="userService.getLoginStatus()">Logout</a>
  <a class="close" (click)="toggleMenu()" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" href="#navPanel"></a>
</div>

<!--  if the user has contacted a company for a job and the job is deleted now, show him this-->
<div *ngIf="contactedJob" class="fullscreen">
  <div *ngFor="let info of contactedJobInfos" class="showContact">
    <p>Sie haben kürzlich das Unternehemen {{info.placeInfo.split(',')[2]}} beim Job {{info.placeInfo.split(',')[1]}} kontaktiert.</p>
    <p>Wie war Ihre Erfahrung?</p>
    <input type="text" [(ngModel)]="contactedJobResponse" placeholder="Erfahung"/>
    <button (click)="showJobContact(false, info)">done</button>
    <br><br>
  </div>
</div>

<div *ngIf="feedbackService.messages.length" class="fullscreen" (timeupdate)="5">
  <div *ngFor="let message of feedbackService.messages" class="showContact">
    <p (click)="FeedbackService.clearMessages()">{{message}}</p>
    <br><br>
  </div>
</div>


<!--routing and navigation-->
  <router-outlet></router-outlet>



<!-- footer-->
<section id="footer">
  <div class="inner">
    <header>
      <h2>Jobly</h2>
    </header>
    <div class="copyright">
      &copy; Jobly: <a href="https://jobly.ch/">Jobly.ch</a>
      <a routerLink="/surprise">&nbsp;&nbsp;nothing to see here</a>
    </div>
  </div>
</section>


