<header id="header">
  <div class="inner">
    <a routerLink="/" class="logo">jobly</a>
    <nav id="nav">
      <a routerLink="/">Home</a>
      <a routerLink="/jobs">Jobs</a>
      <a routerLink="/über_uns">Über uns</a>
      <a routerLink="/login" *ngIf="!loginStatus">Login</a>
      <a routerLink="/job-management" *ngIf="loginStatus">Jobs verwalten</a>
      <a routerLink="" *ngIf="loginStatus">Hallo {{user.name}}</a>
      <a routerLink="/login" *ngIf="loginStatus">Logout</a>
      <a routerLink="/job/new" *ngIf="loginStatus">neuer Job</a>

    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
