<!-- One -->
<section id="one">
  <div class="inner">
    <header>
      <h2>{{texts[3].title}}</h2>
    </header>
    <p>
      {{texts[3].content}}
    </p>
  </div>
</section>


<!-- Two -->
<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <h3>{{texts[4].title}}</h3>
        </header>
        <div class="image fit">
          <img src="images/pic01.jpg" alt="" />
        </div>
        <p> {{texts[4].content}}</p>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <header>
          <h3>{{texts[5].title}}</h3>
        </header>
        <div class="image fit">
          <img src="images/pic02.jpg" alt="" />
        </div>
        <p> {{texts[5].content}}</p>
      </div>
    </article>
  </div>
</section>
