<!-- One -->
<section id="one">
  <div class="inner">
    <header>
      <input style="text-transform: uppercase" type="text" *ngIf="editable" [(ngModel)]="texts[3].title" (ngModelChange)="onSave(texts[3])">
      <h2 *ngIf="!editable">{{texts[3].title}}</h2>
    </header>
    <textarea style="height: 15em;" *ngIf="editable" [(ngModel)]="texts[3].content" id="content3" (ngModelChange)="onSave(texts[3])" ></textarea>
    <p *ngIf="!editable" [innerHTML]="texts[3].content">
    </p>
  </div>
</section>


<!-- Two -->
<section id="two">
  <div class="inner">
    <article>
      <div class="content">
        <header>
          <input  style="background-color: #ffffff; text-transform: uppercase" type="text" *ngIf="editable" [(ngModel)]="texts[4].title" (ngModelChange)="onSave(texts[4])">
          <h3 *ngIf="!editable">{{texts[4].title}}</h3>
        </header>
        <label *ngIf="editable" style="float: right">{{texts[4].content.length}}/250 Zeichen</label>
        <textarea style="background-color: #ffffff; height: 12em;" maxlength="250" *ngIf="editable" [(ngModel)]="texts[4].content" id="content4" (ngModelChange)="onSave(texts[4])" ></textarea>
        <p *ngIf="!editable" [innerHTML]="texts[4].content"></p>
      </div>
    </article>
    <article class="alt">
      <div class="content">
        <header>
          <input  style="background-color: #ffffff; text-transform: uppercase"  type="text" *ngIf="editable" [(ngModel)]="texts[5].title" (ngModelChange)="onSave(texts[5])">
          <h3 *ngIf="!editable">{{texts[5].title}}</h3>
        </header>
        <label *ngIf="editable" style="float: right">{{texts[5].content.length}}/250 Zeichen</label>
        <textarea style="background-color: #ffffff; height: 12em;" maxlength="250" *ngIf="editable" [(ngModel)]="texts[5].content" id="content5" (ngModelChange)="onSave(texts[5])" ></textarea>
        <p *ngIf="!editable" [innerHTML]="texts[5].content"></p>
      </div>
    </article>
  </div>
</section>
