<form>
  <div class="field half first">
    <label for="name">Name</label>
    <input type="text" name="name"[(ngModel)]="job.name" id="name" (ngModelChange)="onSave()" />
  </div>
  <br *ngIf="!editAsModerator"/>
  <div *ngIf="editAsModerator" class="field half">
    <label for="company_name">Unternehmen</label>
    <input type="text" [(ngModel)]="job.company_name" name="company_name" id="company_name" (ngModelChange)="onSave()">
  </div>
  <div class="field">
    <label for="description">Beschreibung</label>
    <textarea [(ngModel)]="job.description" name="description" id="description" (ngModelChange)="onSave()"></textarea>
  </div>
  <div class="field half">
    <label for="wage">Lohn</label>
    <input matInput type="number" [(ngModel)]="job.wage" name="wage" id="wage" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label for="percentage">Prozent der Anstellung</label>
    <input matInput placeholder="percentage" type="number" [(ngModel)]="job.percentage" name="percentage" id="percentage" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label for="job_start">Anfang des Jobs</label>
    <input matInput placeholder="start of the job" type="date" maxlength="10" [(ngModel)]="job.job_start" name="job_start" id="job_start" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label for="job_end">Ende des Jobs</label>
    <input matInput placeholder="end of the job" type="date" [(ngModel)]="job.job_end" name="job_end" id="job_end" (ngModelChange)="onSave()">
  </div>
  <div *ngIf="editAsModerator" class="field half">
  <label for="approved">Öffentlich schalten</label>
  <input type="checkbox" [(ngModel)]="job.approved" name="approved" id="approved" (ngModelChange)="onSave()">
</div>


  <ul class="actions">
    <li><input type="submit" mat-button (click)="onSave()" value="Speichern"/></li>
    <li *ngIf="editAsModerator"><input type="submit" mat-button (click)="onDestroy()" value="Löschen"/></li>
  </ul>
  <ul class="actions">

  </ul>

</form>


