<form>
  <div class="field half first">
    <label for="name">Name</label>
    <input type="text" name="name"[(ngModel)]="job.name" id="name" (ngModelChange)="onSave()" />
  </div>
  <br *ngIf="!editAsModerator"/>
  <div *ngIf="editAsModerator" class="field half">
    <label for="company_name">Unternehmen</label>
    <input disabled type="text" [(ngModel)]="company.name" name="company_name" id="company_name" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label for="company_email">E-Mail</label>
    <label *ngIf="standardEMail" for="company_email">{{company.email}}</label>
    <input *ngIf="!standardEMail" type="text" name="company_email" [(ngModel)]="job.company_email" id="company_email" (ngModelChange)="onSave()">
    <button *ngIf="standardEMail" (click)="onFlipEMail()">chose different E-Mail</button>
    <button *ngIf="!standardEMail" (click)="onFlipEMail()">insert standard E-Mail</button>
  </div>
  <div class="field">
    <label for="description">kurze Beschreibung</label>
    <textarea maxlength="100" [(ngModel)]="job.description_short" name="description_short" id="description_short" (ngModelChange)="onSave()"></textarea>
  </div>
  <div class="field">
    <label for="description">Beschreibung</label>
    <textarea [(ngModel)]="job.description" name="description" id="description" (ngModelChange)="onSave()"></textarea>
  </div>
  <div class="field half">
    <label for="wage">Lohn</label>
    <input matInput type="number" [(ngModel)]="job.wage" name="wage" id="wage" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label for="percentage">Prozent der Anstellung</label>
    <input matInput placeholder="percentage" type="number" [(ngModel)]="job.percentage" name="percentage" id="percentage" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label *ngIf="this.startNow" for="job_start">Job per sofort verfügbar</label>
    <label *ngIf="!this.startNow" for="job_start">Job verfügbar ab:</label>
    <button *ngIf="this.startNow" (click)="onFlipStart()">anderes Startdatum wählen</button>
    <button *ngIf="!this.startNow" (click)="onFlipStart()">Job per sofort verfügbar</button>
    <input *ngIf="!this.startNow" matInput placeholder="start of the job" type="date" maxlength="10" [(ngModel)]="job.job_start" name="job_start" id="job_start" (ngModelChange)="onSave()">
  </div>
  <div class="field half">
    <label *ngIf="this.temporary" for="job_end">Ende des Jobs</label>
    <label *ngIf="!this.temporary" for="job_end">Unbefristeter Job</label>
    <button *ngIf="!this.temporary" (click)="onFlipTemporary()">Angebot befristen</button>
    <button *ngIf="this.temporary" (click)="onFlipTemporary()">keine Befristung</button>
    <input *ngIf="this.temporary" matInput placeholder="end of the job" type="date" [(ngModel)]="job.job_end" name="job_end" id="job_end" (ngModelChange)="onSave()">
  </div>
  <div *ngIf="editAsModerator" class="field half">
  <label *ngIf="!job.approved" (click)="toggleApproval()">Öffentlich schalten</label>
  <label *ngIf="job.approved" (click)="toggleApproval()" style="color: green">ist öffentlich</label>
</div>


  <ul class="actions">
    <li><input type="submit" mat-button (click)="onSaveAndBack()" value="Speichern"/></li>
    <li *ngIf="editAsModerator || job.oldJobId !== -1"><input type="submit" mat-button (click)="onDestroy()" value="Löschen"/></li>
  </ul>
  <ul class="actions">

  </ul>

</form>
