<div class="inner"><br>
<h2>{{this.job.name}}</h2>
<b>Unternehmen</b>
  <br>
  <a routerLink="/profil" [queryParams]="{id: this.job.company_id}">{{this.user.name}}</a>
  <br>
<b>Beschreibung</b>
  <p>{{this.job.description}}</p>
<p *ngIf="this.job.job_start !== null">Startdatum: {{this.job.job_start}}</p>
<p *ngIf="this.job.job_start === null">Startdatum: nach Vereinbarung</p>
<p *ngIf="this.job.job_end !== null">Enddatum: {{this.job.job_end}}</p>
<p>Anstellung: {{this.job.percentage}}%</p>
<p>Bezahlung: {{this.job.wage}} CHF {{wageStyle}}</p>

</div>
