.actionsRight{
  width:50%;
  padding: 0 0 0 1em;
}

.actionsLeft ul li input[type='submit'], input[type='reset'], input[type='button'], button, .button{
  margin-bottom: 1em;
}



@media screen and (min-width: 480px) {

  .entry{
    padding: 0 0 0 1em;
  }
}

@media screen and (max-width: 480px) {

  .entry{
    padding: inherit;
  }

}
