<form>
<br>
  <!-- job name -->
  <div class="field entry" >
    <label for="name">Name</label>
    <input *ngIf="editable" type="text" name="name"[(ngModel)]="job.name" id="name" (ngModelChange)="onSave()" />
    <input *ngIf="!editable" style="background-color: rgba(0, 0, 0, 0.15)" disabled type="text" name="name"[(ngModel)]="job.name" id="name" (ngModelChange)="onSave()" />
  </div>


  <!-- company name -->
  <div class="field half right">
    <label for="company_name">Unternehmen</label>
    <input *ngIf="editable" type="text" [(ngModel)]="company.name" name="company_name" id="company_name" (ngModelChange)="onSave()">
    <input *ngIf="!editable"  style="background-color: rgba(0, 0, 0, 0.15)" disabled type="text" [(ngModel)]="company.name" name="company_name" id="company_name" (ngModelChange)="onSave()">
  </div>


  <!-- company email -->
  <div class="field half left">
    <label for="company_email">E-Mail</label>
    <div *ngIf="editable">
      <label *ngIf="standardEMail" for="company_email">{{company.email}}</label>
      <input *ngIf="!standardEMail" type="text" name="company_email" [(ngModel)]="job.company_email" id="company_email" (ngModelChange)="onSave()">
      <button *ngIf="standardEMail" (click)="onFlipEMail()">chose different E-Mail</button>
      <button *ngIf="!standardEMail" (click)="onFlipEMail()">insert standard E-Mail</button>
    </div>
    <div *ngIf="!editable">
      <label *ngIf="standardEMail" for="company_email">{{company.email}}</label>
      <input disabled  style="background-color: rgba(0, 0, 0, 0.15)" *ngIf="!standardEMail" type="text" name="company_email" [(ngModel)]="job.company_email" id="company_email" (ngModelChange)="onSave()">
      <button disabled *ngIf="standardEMail" (click)="onFlipEMail()">chose different E-Mail</button>
      <button disabled *ngIf="!standardEMail" (click)="onFlipEMail()">insert standard E-Mail</button>
    </div>
  </div>


  <br><!-- TODO: doesn't work -->

  <!-- short description -->
  <div class="field entry">
    <label style="float: right;">{{job.description_short.length}}/100 Zeichen</label>
    <label for="description_short">kurze Beschreibung</label>
    <textarea *ngIf="editable" maxlength="100" [(ngModel)]="job.description_short" name="description_short" id="description_short" (ngModelChange)="onSave()"></textarea>
    <textarea *ngIf="!editable"  style="background-color: rgba(0, 0, 0, 0.15)" disabled maxlength="100" [(ngModel)]="job.description_short" name="description_short" id="description_short" (ngModelChange)="onSave()"></textarea>
  </div>


  <!-- description -->
  <div class="field entry">
    <label for="description">Beschreibung</label>
    <textarea *ngIf="editable" [(ngModel)]="job.description" name="description" id="description" (ngModelChange)="onSave()"></textarea>
    <textarea *ngIf="!editable"  style="background-color: rgba(0, 0, 0, 0.15)" disabled [(ngModel)]="job.description" name="description" id="description" (ngModelChange)="onSave()"></textarea>
  </div>


  <!-- wage -->
  <div class="field half">
    <label for="wage">Lohn</label>
    <input *ngIf="editable" matInput type="number" [(ngModel)]="job.wage" name="wage" id="wage" (ngModelChange)="onSave()">
    <input *ngIf="!editable" disabled matInput type="number" [(ngModel)]="job.wage" name="wage" id="wage" (ngModelChange)="onSave()">
  </div>


  <!-- percentage -->
  <div class="field half">
    <label for="percentage">Prozent der Anstellung</label>
    <input *ngIf="editable" matInput placeholder="percentage" type="number" [(ngModel)]="job.percentage" name="percentage" id="percentage" (ngModelChange)="onSave()">
    <input *ngIf="!editable" disabled matInput placeholder="percentage" type="number" [(ngModel)]="job.percentage" name="percentage" id="percentage" (ngModelChange)="onSave()">
  </div>


  <!-- start date -->
  <div class="field half">
    <div *ngIf="editable">
      <label *ngIf="this.startNow" for="job_start">Job per sofort verfügbar</label>
      <label *ngIf="!this.startNow" for="job_start">Job verfügbar ab:</label>
      <button *ngIf="this.startNow" (click)="onFlipStart()">anderes Startdatum wählen</button>
      <button *ngIf="!this.startNow" (click)="onFlipStart()">Job per sofort verfügbar</button>
      <input *ngIf="!this.startNow" matInput placeholder="start of the job" type="date" maxlength="10" [(ngModel)]="job.job_start" name="job_start" id="job_start" (ngModelChange)="onSave()">
    </div>
    <div *ngIf="!editable">
      <label *ngIf="this.startNow" for="job_start">Job per sofort verfügbar</label>
      <label *ngIf="!this.startNow" for="job_start">Job verfügbar ab:</label>
      <button disabled *ngIf="this.startNow" (click)="onFlipStart()">anderes Startdatum wählen</button>
      <button disabled *ngIf="!this.startNow" (click)="onFlipStart()">Job per sofort verfügbar</button>
      <input disabled *ngIf="!this.startNow" matInput placeholder="start of the job" type="date" maxlength="10" [(ngModel)]="job.job_start" name="job_start" id="job_start" (ngModelChange)="onSave()">
    </div>
  </div>


  <!-- end date -->
  <div class="field half">
    <div *ngIf="editable">
      <label *ngIf="this.temporary" for="job_end">Ende des Jobs</label>
      <label *ngIf="!this.temporary" for="job_end">Unbefristeter Job</label>
      <button *ngIf="!this.temporary" (click)="onFlipTemporary()">Angebot befristen</button>
      <button *ngIf="this.temporary" (click)="onFlipTemporary()">keine Befristung</button>
      <input *ngIf="this.temporary" placeholder="end of the job" type="date" [(ngModel)]="job.job_end" name="job_end" id="job_end" (ngModelChange)="onSave()">
    </div>
    <div *ngIf="!editable">
      <label *ngIf="this.temporary" for="job_end">Ende des Jobs</label>
      <label *ngIf="!this.temporary" for="job_end">Unbefristeter Job</label>
      <button disabled *ngIf="!this.temporary" (click)="onFlipTemporary()">Angebot befristen</button>
      <button disabled *ngIf="this.temporary" (click)="onFlipTemporary()">keine Befristung</button>
      <input disabled *ngIf="this.temporary" placeholder="end of the job" type="date" [(ngModel)]="job.job_end" name="job_end" id="job_end" (ngModelChange)="onSave()">
    </div>
  </div>


  <!-- approved -->
  <div *ngIf="editAsModerator" class="field half">
    <div *ngIf="editable">
      <button  style="background-color: green" *ngIf="!job.approved" (click)="toggleApproval()">Öffentlich schalten</button>
      <button *ngIf="job.approved" (click)="toggleApproval()" style="background-color: red">ist öffentlich</button>
    </div>
    <div *ngIf="!editable">
      <button disabled style="background-color: green" *ngIf="!job.approved" (click)="toggleApproval()">Öffentlich schalten</button>
      <button disabled *ngIf="job.approved" (click)="toggleApproval()" style="background-color: red">ist öffentlich</button>
    </div>
  </div>

  <!-- submit -->
  <div *ngIf="editable" class="actionsRight">
    <ul class="actions">
      <li><input type="submit" mat-button (click)="onSaveAndBack()" value="Speichern"/></li>
      <li *ngIf="editAsModerator || job.oldJobId !== -1" style="margin-top: 0.9em"><input type="button" mat-button (click)="onDestroy()" value="{{job.oldJobId === -1 ? 'Job löschen' : 'Änderungen löschen'}}"/></li>
    </ul>
  </div>


</form>
