
  <h4 *ngIf="!changePasswordAdmin">Passwort ändern</h4>
  <h4 *ngIf="changePasswordAdmin">{{passwordChangeUserName}}s Passwort ändern</h4>

  <!-- password change 'form'-->
  <form>
    <label *ngIf="!changePasswordAdmin" for="old">altes Passwort</label>
    <input *ngIf="!changePasswordAdmin" name="oldPassword" type="password" id="old"[(ngModel)]="oldPassword" />
    <label for="new">neues Passwort</label>
    <input type="password" id="new" name="newPassword" [(ngModel)]="newPassword"/>
    <label for="newRepeat">neues Passwort wiederholen</label>
    <input type="password" id="newRepeat" name="newPasswordRepeat" [(ngModel)]="newPasswordRepeat" />
    <input type="submit" (click)="savePassword(userId)" value="Speichern">
  </form>
  <br><br>
