<div class="inner" *ngIf="!public">
  <h1 *ngIf="showPassword">
    Profil ~ Passwort
  </h1>
  <h1 *ngIf="!showPassword">
    Profil ~ Jobs
  </h1>
  <button *ngIf="!showPassword" (click)="togglePasswordShow()">Ändere das Passwort</button>
  <button *ngIf="showPassword" (click)="togglePasswordShow()">Zeige Jobs</button>
  <br><br>
  <div *ngIf="showPassword">
    <h4>Passwort ändern</h4>
    <label for="old">altes Passwort</label>
    <input type="password" id="old" value="{{oldPassword}}" />
    <label for="new">neues Passwort</label>
    <input type="password" id="new" value="{{newPassword}}" />
    <label for="newRepeat">neues Passwort</label>
    <input type="password" id="newRepeat" value="{{newPasswordRepeat}}" />
    <input type="submit" (click)="savePassword()" value="Speichern">
    <br><br>
  </div>
  <div *ngIf="this.user.isAdmin() && !showPassword">
    <h4>Liste der Benutzer</h4>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>change Password</th>
        <th>role</th>
        <th>change Profile</th>
      </tr>
      <tr *ngFor="let currentUser of users">
        <td>{{currentUser.name}}</td>
        <td>{{currentUser.email}}</td>
        <td><a>change Password</a></td> <!-- add anchor to correct link-->
        <td>{{currentUser.role}}</td>
        <td><a>change Profile</a></td> <!-- add anchor to correct link-->
      </tr>
    </table>
  </div>

  <div *ngIf="!showPassword">
    <button routerLink="/job/new">neuen Job erfassen</button>
    <h4>
      Liste der jobs
    </h4>
    <section id="three">

      <div class="inner">
        <div *ngFor="let currentJob of jobs">
          <app-job style="padding: 2em; width: 150%" [linkText]="'Ändern'" [link]="'/job/edit'" [job]="currentJob"></app-job>
        </div>
      </div>
    </section>
  </div>


</div>
<div *ngIf="public">
  <section style="margin-bottom: -150px;margin-top: 10px">
    <div class="inner">
      <header>
        <h1>{{user.name}}</h1>
        <b>Kontakt</b>
        <p>Email: {{user.email}}</p>
        <b>Alle Jobs des Unternehmens</b>
        <div *ngIf="jobs.length === 0"><p>keine Jobs vorhanden</p><br><br><br><br><br></div>
      </header>
    </div>
  </section>
  <section id="three" *ngIf="jobs.length>0">
    <div class="inner">
        <div *ngFor="let currentJob of jobs">
          <app-job style="padding: 2em; width: 150%" [linkText]="'Mehr lesen'" [link]="'/job'" [job]="currentJob"></app-job>
        </div>
    </div>
  </section>
</div>
