<div class="inner" *ngIf="!public">
  <h1 *ngIf="showPassword">
    Profil ~ Passwort
  </h1>
  <h1 *ngIf="!showPassword">
    Profil ~ Jobs
  </h1>
  <!-- admin menu control-->
  <div *ngIf="this.user.isAdmin()">
  <button style="background-color:#000000" *ngIf="!showPassword && !showAdmin" (click)="ShowList()">Zeige Jobs</button>
  <button *ngIf="showPassword || showAdmin" (click)="ShowList()">Zeige Jobs</button>
  <button style="background-color:#000000" *ngIf="showPassword" (click)="ShowPassword()">Ändere das Passwort</button>
  <button *ngIf="!showPassword" (click)="ShowPassword()">Ändere das Passwort</button>
  <button style="background-color:#000000" *ngIf="this.user.isAdmin() && showAdmin" (click)="ShowAdmin()">Zeige Benutzer</button>
  <button *ngIf="this.user.isAdmin() && !showAdmin" (click)="ShowAdmin()">Zeige Benutzer</button>
  </div>
  <!-- moderator or company menu control-->
  <div *ngIf="!this.user.isAdmin()">
  <button *ngIf="!showPassword" (click)="toggleShowPassword()">Zeige Jobs</button>
  <button *ngIf="showPassword" (click)="toggleShowPassword()">Ändere das Passwort</button>
  </div>


  <br><br>
  <!-- passwort ändern-->
  <div *ngIf="showPassword">
    <button *ngIf="changePasswordAdmin" (click)="backToUserList()">Zurück</button>
    <h4 *ngIf="!changePasswordAdmin">Passwort ändern</h4>
    <h4 *ngIf="changePasswordAdmin">{{passwordChangeUserName}}s Passwort ändern</h4>
    <!-- errors-->
    <b *ngIf="errorPasswordRepeat">Die neuen Passwörter stimmen nicht überein</b>
    <b *ngIf="errorPasswordWrong">Das alte Passwort stimmt nicht</b>
    <b *ngIf="errorPasswordSame">Das neue Passwort darf nicht dem Alten entsprechen</b>

    <!-- password change 'form'-->
    <label *ngIf="!changePasswordAdmin" for="old">altes Passwort</label>
    <input *ngIf="!changePasswordAdmin" type="password" id="old"[(ngModel)]="oldPassword" />
    <label for="new">neues Passwort</label>
    <input type="password" id="new" [(ngModel)]="newPassword"/>
    <label for="newRepeat">neues Passwort wiederholen</label>
    <input type="password" id="newRepeat" [(ngModel)]="newPasswordRepeat" />
    <input type="submit" (click)="savePassword(passwordChangeUserId)" value="Speichern">
    <br><br>
  </div>

  <!-- liste der benutzer-->
  <div *ngIf="this.user.isAdmin() && showAdmin">
    <h4>Liste der Benutzer</h4>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>change Password</th>
        <th>role</th>
        <th>change Profile</th>
      </tr>
      <tr *ngFor="let currentUser of users">
        <td>{{currentUser.name}}</td>
        <td>{{currentUser.email}}</td>
        <td><a (click)="changePassword(currentUser.id)">change Password</a></td> <!-- add anchor to correct link-->
        <td>{{currentUser.role}}</td>
        <td><a>change Profile</a></td> <!-- add anchor to correct link-->
      </tr>
    </table>
  </div>

  <!--liste der jobs-->
  <div *ngIf="!showPassword && !showAdmin">
    <button routerLink="/job/new">neuen Job erfassen</button>
    <h4>
      Liste der jobs
    </h4>
    <section id="three">

      <div class="inner">
        <div *ngFor="let currentJob of jobs">
          <app-job style="padding: 2em; width: 150%" [linkText]="'Ändern'" [link]="'/job/edit'" [job]="currentJob"></app-job>
        </div>
      </div>
    </section>
  </div>


</div>
<!-- öffentliches profil eines unternehmens-->
<div *ngIf="public">
  <section style="margin-bottom: -150px;margin-top: 10px">
    <div class="inner">
      <header>
        <h1>{{user.name}}</h1>
        <b>Kontakt</b>
        <p>Email: {{user.email}}</p>
        <b>Alle Jobs des Unternehmens</b>
        <div *ngIf="jobs.length === 0"><p>keine Jobs vorhanden</p><br><br><br><br><br></div>
      </header>
    </div>
  </section>
  <section id="three" *ngIf="jobs.length>0">
    <div class="inner">
        <div *ngFor="let currentJob of jobs">
          <app-job style="padding: 2em; width: 150%" [linkText]="'Mehr lesen'" [link]="'/job'" [job]="currentJob"></app-job>
        </div>
    </div>
  </section>
</div>
