<br><mat-form-field>
<input matInput placeholder="Name" [(ngModel)]="job.name" name="name" (ngModelChange)="onSave()"><p style="color:red">*</p>
</mat-form-field><br>
<mat-form-field>
  <textarea placeholder="Description" rows="15" cols="100" [(ngModel)]="job.description" name="description" (ngModelChange)="onSave()"></textarea><p style="color:red">*</p>
</mat-form-field><br>
<mat-form-field>
  <input matInput placeholder="Company name" [(ngModel)]="job.company_name" name="company_name" (ngModelChange)="onSave()"><p style="color:red">*</p>
</mat-form-field><br>
<mat-form-field>
  <input matInput placeholder="Wage" type="number" [(ngModel)]="job.wage" name="wage" (ngModelChange)="onSave()"><p style="color:red">*</p>
</mat-form-field><br>
<mat-form-field>
  <input matInput placeholder="start of the job" type="date" [(ngModel)]="job.job_start" name="job_start" (ngModelChange)="onSave()">
</mat-form-field><br>
<mat-form-field>
  <input matInput placeholder="end of the job" type="date" [(ngModel)]="job.job_end" name="job_end" (ngModelChange)="onSave()">
</mat-form-field><br>
<mat-form-field>
  <input matInput placeholder="percentage" type="number" [(ngModel)]="job.percentage" name="percentage" (ngModelChange)="onSave()"><p style="color:red">*</p>
</mat-form-field>

<br>
<button mat-button (click)="onDestroy()">Destroy</button>


